body{
    width: 100%;
    height:100%;
    font-family: 'anton', cursive;
}
#landing {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(paradise.jpg) no-repeat center;
  background-size: cover;
}
html{
  width:100%;
  height:100%;
}
.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
#landingslogan{
  color
}